.tile {
  margin: 10px;
  background: #DDD;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.tile .Empty {
  stroke: green;
  fill: yellow;
  stroke-linecap: round;
  stroke-width: 5;
}

.tile .Zero0 {
  stroke: green;
  fill: yellow;
  stroke-linecap: round;
  stroke-width: 5;
}

.tile .Ex1 {
  fill: lime;
  stroke: purple;
  stroke-width: 5;
}
