svg {
  margin: 20px;
  background: #DDD;
  float: left;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}


svg .Empty {
  stroke: green;
  fill: yellow;
  stroke-linecap: round;
  stroke-width: 5;
}

svg .Zero0 {
  stroke: green;
  fill: yellow;
  stroke-linecap: round;
  stroke-width: 5;
}

svg .Ex1 {
  fill:lime;
  stroke:purple;
  stroke-width:5;
}
